/*
=== main === 
*/
body {
	background-color: gray;
	width: 960px;
	margin: 0 auto;
}
#col-1, #game-board, #col-3 {
	display: inline-block;
	margin: 26px;	
}
#col-1, #col-3 {
	vertical-align: top;
}
h1 {
	text-align: center;
	color: white;
}
/*
=== clearfix ===
*/



/*
=== header ===
*/
/*
header {
	background-color: rgb(64, 64, 64);
	height: 50px;
}
*/
/*
=== game board grid ===
*/
.box {
	width: 100px;
	height: 100px;
	border: 2px solid black;
	display: inline-block;
	margin: 5px 5px;
}
#game-board {
	text-align: center;
	margin-top: 50px;
}
/*
=== game board buttons ===
*/
button {
	width: 100px;
	height: 100px;
}
/*
=== players ===
*/
input {
	margin-top: 100px;
	border: 2px solid black;
	text-align: center;
}
#p1-options, #p2-options {
	text-align: center;
}
.color-option {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 5px;
	border: 1px solid black;
}
.one {
	background-color: red;
}
.two {
	background-color: blue;
}
.three {
	background-color: green;
}
.four {
	background-color: black;
}
/*
=== score board ===
*/



/*
=== footer ===
*/
/*
footer {
	background-color: rgb(64, 64, 64);
	height: 50px;
}
*/




